html,
body,
* , 
.ant-input:placeholder-shown , 
textarea {
  font-family: "Cairo", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
}

input::placeholder{
  font-size: 12px;
}

.ant-table-pagination.ant-pagination{
  direction: ltr;
  justify-content: center !important;
}

.ant-layout-content{
  height: calc(100vh - 64px);
  overflow: auto;
  padding: 20px;
}

.ant-form-item-extra{
  margin-top: 10px;
}